@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
    font-family: 'FuturaBkBT';
    src: url('./assets/fonts/FuturaBkBT.ttf') format('truetype');
}

body {
    font-family: 'MyCustomFont', sans-serif;
}

.judson-regular {
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: normal;
}